<a href="https://colab.research.google.com/github/Rajendar98/python_Learning/blob/main/Day_2_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [ ]:
s=tuple(map(int,input().split()))
print("display the tuple elements",s) #tuple is immutable data type
print(type(s))                        #In tuple is dipplay in Curly barckets-->()

x=list(map(int,input().split()))
print("Display the list elemnts",x)   #List is a mutable Data types
print(type(x))                        #In List is dipplay in Square barckets-->[]

1 2 3 4 5
display the tuple elements (1, 2, 3, 4, 5)
<class 'tuple'>
2 3 4 5 6
Display the list elemnts [2, 3, 4, 5, 6]
<class 'list'>

## 2.How list is different from an array

In [ ]:
import numpy as np
l1=[1,2,3,"raj",True,5,6]   #Heterogenous Data type are stored
print("list of elements",l1)
arr=np.array([1,2,3,4,5,6])     #Homogenous type are stored
print("Array elements are: ",arr)

list of elements [1, 2, 3, 'raj', True, 5, 6]
Array elements are:  [2 3 4 5]

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [145]:
l1=list(map(int,input("enter the elements: ").split()))
print("list elemnets",l1)
l1.append(int(input("enter any number:")))
print("after appending the element",l1)
l2=l1.copy()
print("copy to new new list l2 is:",l2)
l2.clear()
print("after clearing the l2 is:",l2)
cnt=l1.count(int(input("enter a number is present in l1: ")))
print("Number of times is repeated in l1: ",cnt)
print("maximum element in l1 is:",max(l1))
print("Minimum element in l1 is:",min(l1))
print("sum of l1 element is:",sum(l1))
print("After sorting the elements",sorted(l1))
print("reversed the elements in l1 is:",list(reversed(l1)))
print("insert the any number in list")
l1.insert(1,250)
print("Inserting the element in l1 ",l1)
print("Index the element is:",l1.index(250))
print("extends the l1 with k")
print("l1 elements before extending",l1)
k=[10,20,30]
l1.extend(k)
print(l1)
print("pop the elements:",l1.pop(0))

enter the elements: 1 1 1 2 3 4 4 4 4 4 5 6
list elemnets [1, 1, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6]
enter any number:1234
after appending the element [1, 1, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 1234]
copy to new new list l2 is: [1, 1, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 1234]
after clearing the l2 is: []
enter a number is present in l1: 4
Number of times is repeated in l1:  5
maximum element in l1 is: 1234
Minimum element in l1 is: 1
sum of l1 element is: 1273
After sorting the elements [1, 1, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 1234]
reversed the elements in l1 is: [1234, 6, 5, 4, 4, 4, 4, 4, 3, 2, 1, 1, 1]
insert the any number in list
Inserting the element in l1  [1, 250, 1, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 1234]
Index the element is: 1
extends the l1 with k
l1 elements before extending [1, 250, 1, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 1234]
[1, 250, 1, 1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 1234, 10, 20, 30]
pop the elements: 1

## 4, How would you divide the list into two parts?

In [141]:
l1=[1,2,3,4,5,6,7,8,9]
fst_hf=l1[0:len(l1)//2]
secnd_hf=l1[len(l1)//2::]
print("first half",fst_hf)
print("second half",secnd_hf)

first half [1, 2, 3, 4]
second half [5, 6, 7, 8, 9]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [ ]:
l=list(map(int,input("enetr list elements: ").split()))
outputlist=[]
for i in l:
  if i%3==0 and i%2==0:
    outputlist.append(i)
print("the filtered list is:",outputlist)

enetr list elements: 1 2 3 4 5 6 7 24 30 60
the filtered list is: [6, 24, 30, 60]

## 6. How you can access keys and values simultaneously and update its value

In [142]:
d1={1:4,2:3,3:6,4:8}
print("Dictionary is :",d1)
for keys,values in d1.items():
  print(keys,values)

Dictionary is : {1: 4, 2: 3, 3: 6, 4: 8}
1 4
2 3
3 6
4 8

## 7. Write python program to join, merge, concatente the two dictionaries..

In [ ]:
d1={1:"one",2:"two",3:"three",4:"four"}
d2={5:"Five",6:"six",7:"seven",8:"eight"}
d1.update(d2)
print("Concatination the dictionary ",d1)

Concatination the dictionary  {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'Five', 6: 'six', 7: 'seven', 8: 'eight'}

## 8. How would you check a specific keys from the dictionary??

In [ ]:
d1={1:"one",2:"two",3:"three",4:"four"}
checking_specific_key=int(input("Enter a specifc key number to find in dictionary: "))
f=0
for i in d1:
  if i==checking_specific_key:
    print("key present in dictionary")
    f=1
if f==0:
  print("Key is not present dictionary")

Enter a specifc key number to find in dictionary: 3
key present in dictionary

## 9. write a python program to find the unique vowel present in the sentence

In [147]:
s="my name is rajendar"
l=["a","e","i","o","u"]
l1=[]
print("Unique vowels are present in Sentence: ",s)
for i in s:
  if i.lower() in l and i.lower() not in l1:
    l1.append(i)
    print(i,end=" ")

Unique vowels are present in Sentence:  my name is rajendar
a e i

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [ ]:
t=(1,2,3,4,5)
x=9
t+=(x,)
print("adding element to tuple ",t)

adding element to tuple  (1, 2, 3, 4, 5, 9)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [ ]:
l1 = [(2,3),(4,5),(6,4)]
l2=[]
for i in l1:
  l2.append(i[0]+i[1])
print(tuple(l2))

(5, 9, 10)

:## 12. FIND THE FREQUENCY OF THE Values IN THE GIVEN DICTIONARY

In [140]:
d={1:10,2:20,3:30,4:10,5:20}
x=list(d.values())
new_dict={}
for i in x:
  new_dict[i]=new_dict.get(i,0)+1
print("Dictionary is: ",d)
print("Frequency of the keys Dictionary ",new_dict)

Dictionary is:  {1: 10, 2: 20, 3: 30, 4: 10, 5: 20}
Frequency of the keys Dictionary  {10: 2, 20: 2, 30: 1}